name: build

on: push

env:
  GHCR_IMAGE: ghcr.io/emgag/varnish
  GHCR_USER: emgag-service
  DOCKERHUB_IMAGE: emgag/varnish

jobs:
  build:
    strategy:
      matrix:
        version: ["6.0", "6.5", "6.6"]
        include:
          - version: "6.0"
            tag: "6.0.8"
          - version: "6.5"
            tag: "6.5.2"
          - version: "6.6"
            tag: "6.6.1"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build varnish {{ matrix.version }}
        run: >
          docker buildx build --pull
          -t ${{ env.GHCR_IMAGE }}:${{ matrix.tag }}
          -t ${{ env.DOCKERHUB_IMAGE }}:${{ matrix.tag }}
          --platform linux/amd64,linux/arm64,linux/arm64/v8
          ${{ matrix.version }}

      - name: Login to github docker registry
        uses: azure/docker-login@v1
        with:
          login-server: ghcr.io
          username: ${{ env.GHCR_USER }}
          password: ${{ secrets.CR_PAT }}

      - name: Push ${{ matrix.version }} image to GHCR
        run: docker push ${{ env.GHCR_IMAGE }}:${{ matrix.tag }}

      # also push to dockerhub as for now
      - name: Login to dockerhub
        uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push ${{ matrix.version }} image to dockerhub
        run: docker push ${{ env.DOCKERHUB_IMAGE }}:${{ matrix.tag }}

